doctype html
html(lang='ru')
    head
        title WeGeeks Blank Template
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='webdeveloper' content='Разработка сайта - wegeeks.ru')
        link(rel='stylesheet' href='css/template.css')
        link(rel='icon' href='/favicon.ico' type='image/x-icon')
        link(rel='shortcut icon' href='/favicon.ico' type='image/x-icon')
    body
        .wrapper
            header.header.block
                .container
                    .row
                        .col-lg-6
                            .logo
                                span.name Sitename
            .slideshow.block
                .container
                    .row
                        .col-lg-12
                            .mainslider
                                .mainslider-item
                                    img.mainslider-item-img(src='images/bg.jpg' alt='')
                                    .mainslider-item-title putate olut
                                    .mainslider-item-subtitle Sed egestas ante et vulputate olutpat eros pede
                                    .mainslider-item-social
                                        a.mainslider-item-link(href='#')
                                            img.fb(src='images/fb.png' alt='')
                                        a.mainslider-item-link(href='#')
                                            img.tw(src='images/tw.png' alt='')
                                        a.mainslider-item-link(href='#')
                                            img.google(src='images/google.png' alt='')
                                .mainslider-item
                                    img.mainslider-item-img(src='images/bg.jpg' alt='')
                                    .mainslider-item-title putate olut
                                    .mainslider-item-subtitle Sed egestas ante et vulputate olutpat eros pede
                                    .mainslider-item-social
                                        a.mainslider-item-link(href='#')
                                            img.fb(src='images/fb.png' alt='')
                                        a.mainslider-item-link(href='#')
                                            img.tw(src='images/tw.png' alt='')
                                        a.mainslider-item-link(href='#')
                                            img.google(src='images/google.png' alt='')
                                .mainslider-item
                                    img.mainslider-item-img(src='images/bg.jpg' alt='')
                                    .mainslider-item-title putate olut
                                    .mainslider-item-subtitle Sed egestas ante et vulputate olutpat eros pede
                                    .mainslider-item-social
                                        a.mainslider-item-link(href='#')
                                            img.fb(src='images/fb.png' alt='')
                                        a.mainslider-item-link(href='#')
                                            img.tw(src='images/tw.png' alt='')
                                        a.mainslider-item-link(href='#')
                                            img.google(src='images/google.png' alt='')
            .topmenu.block
                .container
                    .row
                        .col-lg-12
                            .mobilemenu Меню сайта
                            ul.menu
                                li
                                    a(href='#') Menu
                                li
                                    a(href='#') About
                                li
                                    a(href='#') Work
                                li
                                    a(href='#') Contact
            main.content.block
                .contentblock.block
                    .container
                        .row
                            .col-lg-12
                                .contentblock-text
                                    h2 Sed egestas ante et vulputate
                                    h3 semper est vitae luctus metus libero eu augue Morbi purus libero
                .benefits.block
                    .container
                        .row
                            .col-lg-4
                                .benefits-item
                                    img.benefits-item-img(src='images/item1.png' alt='')
                                    .benefits-item-textWrap
                                        .benefits-item-title Morbi interdum
                                        .benefits-item-text Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula. Integer adipiscing risus a sem
                                        .benefits-item-more
                                            a(href='#') readmore
                            .col-lg-4
                                .benefits-item
                                    img.benefits-item-img(src='images/item2.png' alt='')
                                    .benefits-item-textWrap
                                        .benefits-item-title Vivamus molestie
                                        .benefits-item-text Cinspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula. Integer adipiscing risus a sem
                            .col-lg-4
                                .benefits-item
                                    img.benefits-item-img(src='images/item3.png' alt='')
                                    .benefits-item-textWrap
                                        .benefits-item-title Fusce lobortis
                                        .benefits-item-text Jovispendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula. Integer adipiscing risus a sem
                .mainservices.block
                    .container
                        .row
                            .col-lg-6
                                .services-item
                                    img.services-item-img.img-responsive(src='images/sm_bg.png' alt='Natco Natdac (Даклатасвир)')
                            .col-lg-6
                                    .services-item-textWrap
                                        .services-item-title Integer vitae libero ac risus
                                        .services-item-text Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis libero dolor a purus. Sed vel lacus. Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna. Etiam pellentesque mauris ut lectus. Nunc tellus ante, mattis eget, gravida vitae, ultricies ac, leo. Integer leo pede
                                        .services-item-more
                                            a(href='#') readmore
                .contentblock.block
                    .container
                        .row
                            .col-lg-4
                                .contentblock
                                    .contentblock-title Morbi interdum
                                    .contentblock-text Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper ehicula. Integer adipiscing risus a sem
                                    ul.contentblock
                                        li Fusce accumsan mollis eros lorem
                                        li Pellentesque a diam sit amet mi ullam
                                        li Vehicula teger adipiscing risus a sem
                                        li Nunc tellus mattis eget gravida vitad
                                    .contentblock-more
                                        a(href='#') readmore
                            .col-lg-4
                                .contentblock
                                    .contentblock-title Morbi interdum
                                    .contentblock-text Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis.<br> Libero dolor a purus. Sed vel lacus. Mauris nibh felis, adipiscing varius, adipiscing in.<br> Acinia vel, tellus. Suspendisse ac urna. Etiam pellentesque mauris ut lectus. Nunc tellus ante.
                                    .contentblock-more
                                        a(href='#') readmore
                            .col-lg-4
                                .contentblock
                                    .contentblock-title Morbi interdum
                                    .contentblock-text Morbi interdum mollis sapien. Sed ac risus
                                    ul.contentblock
                                        li
                                            img.contentblock-img(src='images/sm_face.png' alt='')
                                        li
                                            img.contentblock-img(src='images/sm_face.png' alt='')
                                        li
                                            img.contentblock-img(src='images/sm_face.png' alt='')
                                        li
                                            img.contentblock-img(src='images/sm_face.png' alt='')
                                        li
                                            img.contentblock-img(src='images/sm_face.png' alt='')
                                        li
                                            img.contentblock-img(src='images/sm_face.png' alt='')
                                        li
                                            img.contentblock-img(src='images/sm_face.png' alt='')
                                        li
                                            img.contentblock-img(src='images/sm_face.png' alt='')
                                    .contentblock-more
                                        a(href='#') readmore
        footer.footer.block
            .container
                .row
                    .col-lg-12
                        .foot-title Copyright (c) websitename. All rights reserved.
                        .foot-text Designed By: www.alltemplateneeds.com
                        .foot-link Images from: www.wallcoo.net
        script(src='js/jquery-3.1.1.min.js')
        script(src='js/slick.min.js')
        script(src='js/template.js')